{% extends "layout.html" %}
{% block content %}

<header class="masthead text-white text-center" style="background:url('/static/aron-visuals-BXOXnQ26B7o-unsplash.jpg')no-repeat center center;background-size:cover;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-5">A time management tool that fits your needs</h1>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <div class="form-row">
                    <div class="col-12 col-md-3 col-lg-4 offset-lg-4">
                    <a href="/login">
                    <button class="btn btn-primary btn-block btn-lg" type="submit">Start now</button>
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="features-icons bg-light text-center" style="padding-top:10%">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                    <div class="d-flex features-icons-icon"><i class="fas fa-chalkboard-teacher m-auto text-primary"></i></div>
                    <h3>Courses</h3>
                    <p class="lead mb-0">Personalize your courses</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                    <div class="d-flex features-icons-icon"><i class="fas fa-business-time m-auto text-primary"></i></div>
                    <h3>Extra curricular</h3>
                    <p class="lead mb-0">Personalise your extra curiccular</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                    <div class="d-flex features-icons-icon"><i class="fas fa-school m-auto text-primary"></i></div>
                    <h3>School events</h3>
                    <p class="lead mb-0">Find the school events</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image:url('/static/img/bg-showcase-1.jpg');"><span></span></div>
            <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                <h2>Easy to use</h2>
                <p class="lead mb-0">What makes it easy to use</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img" style="background-image:url('/static/img/bg-showcase-2.jpg');"><span></span></div>
            <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                <h2>Updated To Fit Your Needs</h2>
                <p class="lead mb-0">Your needs can change ...</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image:url('/static/img/bg-showcase-3.jpg');"><span></span></div>
            <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                <h2>Easy to Use &amp; Customize</h2>
                <p class="lead mb-0">Make it your own ...</p>
            </div>
        </div>
    </div>
</section>

<section class="testimonials text-center bg-light">
    <div class="container">
        <h2 class="mb-5">What people are saying...</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" src="/static/img/testimonials-1.jpg" />
                    <h5>Margaret E.</h5>
                    <p class="font-weight-light mb-0">&quot;This is fantastic! Thanks so much guys!&quot;</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" src="/static/img/testimonials-2.jpg" />
                    <h5>Fred S.</h5>
                    <p class="font-weight-light mb-0">&quot;Bootstrap is amazing. I&#39;ve been using it to create lots of super nice landing pages.&quot;</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" src="/static/img/testimonials-3.jpg" />
                    <h5>Sarah W.</h5>
                    <p class="font-weight-light mb-0">&quot;Thanks so much for making these free resources available to us!&quot;</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonials text-center bg-light">
    <div class="container">
        <h2 class="mb-5">Who is behind the project ...</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" src="/static/img/testimonials-1.jpg" />
                    <h5>Margaret E.</h5>
                    <p class="font-weight-light mb-0">&quot;This is fantastic! Thanks so much guys!&quot;</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" src="/static/img/testimonials-2.jpg" />
                    <h5>Fred S.</h5>
                    <p class="font-weight-light mb-0">&quot;Bootstrap is amazing. I&#39;ve been using it to create lots of super nice landing pages.&quot;</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mx-auto testimonial-item mb-5 mb-lg-0"><img class="rounded-circle img-fluid mb-3" src="/static/img/testimonials-3.jpg" />
                    <h5>Sarah W.</h5>
                    <p class="font-weight-light mb-0">&quot;Thanks so much for making these free resources available to us!&quot;</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="call-to-action text-white text-center" style="background:url('static/img/img/bg-masthead.jpg') no-repeat center center;background-size:cover;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
     
            <div class="col-xl-9 mx-auto">
                <h2 class="mb-4">Ready to get started? Sign up now!</h2>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <div class="form-row">
                  <div class="col-12 col-md-3 col-lg-3 offset-lg-5"><button class="btn btn-primary btn-block btn-lg" type="submit">Sign up!</button></div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}

{% comment '' %}
<div class="jumbotron">
  <h1>Time management</h1>
  <p class="lead">This app creates events on your calendar</p>
  
  {% if user.is_authenticated %}
    <h4>Welcome {{ user.name }}!</h4>
    <p>Use the navigation bar at the top of the page to get started.</p>
  {% else %}
    <a href="{% url 'login' %}" class="btn btn-primary btn-large">Click here to sign in</a>
  {% endif %}
</div>
<div class="overlay"></div>
{% endcomment %}